<!DOCTYPE html>
<meta charset="utf-8">

<style>
	.line{
		fill: none;
		stroke: steelblue;
		stroke-width: 2px;
	}

	.area{
		stroke: #000;
		stroke-width: 0.6;
		stroke-linejoin: round;
		opacity: 0.5
	}


	div.tooltip {	
	   	position: absolute;			
	        text-align: center;			
		width: 60px;					
		height: 28px;					
		padding: 2px;				
		font: 12px sans-serif;		
		background: lightsteelblue;	
		border: 0px;		
		border-radius: 8px;			
		pointer-events: none;			
	}

</style>
	<head>
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="http://code.jquery.com/jquery.js"></script>
		<link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="/resources/demos/style.css">
		<script src="../static/bootstrap.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
				    $( function() {
					    $( "#datepicker" ).datepicker({
						    dateFormat: "yy-mm-dd",
						    minDate: new Date('2019-03-26'),
					    	    maxDate: new Date('2019-05-11')
					    });
					      } );
  </script>
	</head>
	<div class="text-center">
		<img src="{{ url_for('static', filename='View_Inc_Logo.jpg') }}" class="rounded mx-auto d-block" style="width: 15%;"alt="View dynamic glass"/>
	</div>
	<body>
		<div class="container">
			<br></br>
			<form class = 'user-input' >
				<div class="text-center">
					Date: <input style="display: inline" value="2019-03-25" type="text" id="datepicker" name='date'>
			 		<button style="display: inline" type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
			<svg id="arcs"></svg>	
		</div>	
		<div class="container">
			<p style="color: #515151; font-size:20px">Density plot of Day and Month</p><br/>
			Feature: <select id="featureSelect" class="mdb-select md-form colorful-select dropdown-primary">
				<option value="0" selected="selected">d1</option>
				{% for i in range(1, len) %}
					<option value={{ i }}>{{ features[i] }}</option>
				{% endfor %}
		   	</select>
			<br></br>
			<svg id="density"></svg>
		 </div> 
	<script src="../static/highlights.js"></script>
	<script src="../static/density.js"></script>
	<script src="../static/generateUrl.js"></script>
		</div>
	</body>
</html>
